<header class="showcase">
    
</header>
<div class="showcase-content">
    <p>Regardez n'importe où. et quand vous le voulez</p>
    <a routerLink="/movies" class="btn btn-xl"> Vos Film préférer<i class="fas fa-chevron-right btn-icon"></i
    ></a>
</div>

<section class="tab-content">
    <div class="container">
        <!-- Tab Content 1 -->
        <div id="tab-1-content" class="tab-content-item show">
            <div class="tab-1-content-inner">
                <div>
                    <p class="text-lg">
                        Film de la semaine <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                          </svg>
                    </p>
                    <a target="_blank" href="https://www.youtube.com/watch?v=_qyw6LC5pnE&ab_channel=FilmStarTrailer" class="btn btn-lg">Trailer Fast & Furious 9</a>
                </div>
                <img src="https://image.tmdb.org/t/p/original/xXHZeb1yhJvnSHPzZDqee0zfMb6.jpg" alt=""/>
            </div>
        </div> 
        </div>

</section>

<script src="script.js"></script>