


<!-- <div> 
   <input *ngFor="let genre of genres" [value]="genre.Label"  (click)="gotoliste(genre.IdGenre)" style="vertical-align:middle"  class="button text-white"   type="button"  > 
</div> -->

 <!-- MENUE DEROULANT POUR LES GENRE DE FILME-->
<div class="deroule">
  <label class="text-white" for="exampleFormControlSelect1" selected>Choissiser votre Genre de film</label>
  <select (change)="gotoliste( $event)" class="form-control" id="exampleFormControlSelect1" >
    <option *ngFor="let genre of genres" [value]="genre.IdGenre"  >{{genre.Label}} </option>
  </select>
</div>

<app-movie-yearall></app-movie-yearall>
 <!-- ****************************************************-->




<div id="col" *ngIf="movies.length > 0" class="UL">   
    <li *ngFor="let movie of movies" class="liste ">   
        <div [ngStyle]="{display: 'flex', flexWrap: 'wrap', width:'100%', marginLeft:'10%' } " class="containeur">              
            <div  class="card" [ngStyle]="{width:'30%', margin : '10%'}">
              <div class="card-image m6"[ngStyle]="{display: 'flex', flexWrap: 'wrap', width:'80%', marginLeft:'10%'}" >
                <img class="img-responsive m6" src="https://image.tmdb.org/t/p/w500{{movie.Picture}}" alt="Card image cap" (error)="defaultsrc(image)" #image>
              </div>
              <div class="card-content">
                <a [routerLink]="'/movies/'+movie.IdMovie" target="_blank" rel="noopener noreferrer"><h5 class="card-title btn btn-primary text-white">Information</h5></a>
              </div>
            </div>
          </div>
    </li>
</div>

<div *ngIf="movies.length ==0">La liste est en cours de chargement...</div>
